@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
.helvetica{font-family:'Emoji Passthrough',"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif}
.lato_black{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:900}
.lato_bold{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:700}
.lato_regular{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:500}
.monospace{font-family:'Emoji Passthrough',Monaco,Menlo,Consolas,"Courier New",monospace!important}
@-webkit-keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
@-moz-keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
@keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
.transparent{color:transparent!important}
.neutral_white{color:#fff!important}
.neutral_white_bg{background-color:#fff!important}
.neutral_grey{color:#fbfbfa!important}
.indifferent_grey{color:#555459!important}
.indifferent_grey_bg{background-color:#555459!important}
.charcoal_grey{color:#434245!important}
.subtle_silver{color:#9e9ea6!important}
.subtle_silver_bg{background-color:#9e9ea6!important}
.soft_grey{color:#e8e8e8!important}
.soft_grey_bg{background-color:#e8e8e8!important}
.severe_grey{color:#3d3c40!important}
.severe_grey_bg{background-color:#3d3c40!important}
.dull_grey{color:#8b898f!important}
.dull_grey_bg{background-color:#8b898f!important}
.cloud_silver{color:#babbbf!important}
.cloud_silver_bg{background-color:#babbbf!important}
.warm_white{color:#fbfaf8!important}
.warm_white_bg{background-color:#fbfaf8!important}
.cloud_white{color:#f2f2f5!important}
.cloud_white_bg{background-color:#f2f2f5!important}
.seafoam_green{color:#2ab27b!important}
.seafoam_green_bg{background-color:#2ab27b!important}
.clear_blue{color:#439fe0!important}
.clear_blue_bg{background-color:#439fe0!important}
.solid_blue{color:#2780f8!important}
.solid_blue_bg{background-color:#2780f8!important}
.candy_red{color:#eb4d5c!important}
.candy_red_bg{background-color:#eb4d5c!important}
.highlight_yellow_bg{background-color:#fffce0!important}
.mention_yellow_bg{background-color:#fff3b8!important}
.star_yellow{color:#fc0!important}
.star_yellow_bg{background-color:#fc0!important}
.yolk_orange{color:#edb431!important}
.yolk_orange_bg{background-color:#edb431!important}
.thrills_purple{color:#7d60c5!important}
.burnt_violet{color:#4d394b!important}
.burnt_violet_bg{background-color:#4d394b!important}
.ocean_teal{color:#4c9689!important}
.ocean_teal_bg{background-color:#4c9689!important}
.havana_blue{color:#2a80b9!important}
.havana_blue_bg{background-color:#2a80b9!important}
.pale_blue{color:#f0f7fb!important}
.pale_blue_bg{background-color:#f0f7fb!important}
.sky_blue{color:#439fe0!important}
.sky_blue_bg{background-color:#439fe0!important}
.slate_blue{color:#3c4b5b!important}
.slate_blue_bg{background-color:#3c4b5b!important}
.muddy_lilac{color:#937e91!important}
.muddy_lilac_bg{background-color:#937e91!important}
.moscow_red,.moscow_red_on_hover:hover{color:#cb5234!important}
.moscow_red_bg{background-color:#cb5234!important}
.moscow_red_dark{color:#870000!important}
.moscow_red_dark_bg{background-color:#870000!important}
.mustard_yellow{color:#dfa941!important}
.mustard_yellow_bg{background-color:#dfa941!important}
.kelly_green{color:#36a64f!important}
.kelly_green_dark{color:#257337!important}
.kelly_green_bg{background-color:#36a64f!important}
.channel_page_blue{color:#2d9cf5!important}
.pin_orange{color:#ff876d!important}
.dropbox_blue{color:#007ee5!important}
.dropbox_blue_bg{background-color:#007ee5!important}
.twitter_blue{color:#55acee!important}
.twitter_blue_bg{background-color:#55acee!important}
.gdrive_blue_bg{background-color:#4285f4!important}
.screenhero_blue{color:#1a9cdb!important}
.screenhero_blue_bg{background-color:#1a9cdb!important}
#signup_graphics_pane.email,#signup_graphics_pane.invite{background-color:#21b2fe}
#signup_graphics_pane.email .legalese,#signup_graphics_pane.invite .legalese{max-width:76%;display:block}
#signup_graphics_pane.email #signup_graphics,#signup_graphics_pane.invite #signup_graphics{background-image:url(/0bd9/img/signup/step1-illi@2x.png)}
#signup_graphics_pane.team_name{background-color:#6d438e}
#signup_graphics_pane.team_name #signup_graphics{background-image:url(/0bd9/img/signup/step2-illi@2x.png);background-position:0;width:200%;height:100%}
#signup_graphics_pane.url{background-color:#f92765}
#signup_graphics_pane.url #signup_graphics{background-image:url(/9db8/img/signup/step3-illi@2x.png)}
#signup_graphics_pane.username{background-color:#18be8c}
#signup_graphics_pane.username #signup_graphics{background-image:url(/9db8/img/signup/step4-illi@2x.png)}
#signup_graphics_pane.create_team{background-color:#ffaf62}
#signup_graphics_pane.create_team #signup_graphics_container{margin-left:1rem}
#signup_graphics_pane.create_team #signup_graphics{background-image:url(/ae80/img/signup/step5-illi@2x.png);background-position:0;width:200%;height:100%}
.legalese{display:none;text-align:center;font-size:smaller;color:#fff}
.legalese a{color:#fff;font-weight:600}
#find_team{color:#fff;line-height:1.25rem;font-size:1rem;font-weight:400}
#find_team_link{font-size:1rem;font-weight:700;color:#fff;text-decoration:none;padding:.5rem 1.25rem;line-height:3rem;border:1px solid #fff;border-radius:.25rem;-webkit-transition:background .1s ease-out .0000001ms;-moz-transition:background .1s ease-out .0000001ms;transition:background .1s ease-out .0000001ms;margin-left:.5rem}
#find_team_link:hover{background:#fff;color:#555459!important;text-shadow:none;text-decoration:none}
.bullets {font-size: 1.5rem;}
.bullets .bullet{color:#babbbf}
.bullets .bullet.active{color:#434245}
.btn-submit p{max-width:280px;margin:1rem auto}
.btn-submit .ts_icon_arrow_right{font-size:150%;opacity:.7;margin:0}
.input_wrapper{position:relative}
.input_wrapper input{padding:.75rem;font-size:1.25rem;height:3rem;text-rendering:optimizeLegibility}
.input_wrapper p{position:absolute;margin:.75rem;font-size:1.25rem;height:1.75rem;pointer-events:none;border-left:1px solid;border-color:rgba(0,0,0,0)}
.input_wrapper .input_overlay{background:#fff;width:95%;opacity:0;-webkit-transition:opacity 1s;-moz-transition:opacity 1s;transition:opacity 1s}
.input_wrapper .input_overlay.show{opacity:1;-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s}
.error .input_overlay{background:#fff1e1!important}
#signup_password+div{margin:0 0 2rem!important}
#email_checkbox{margin:1.5rem auto}
#email_checkbox label{font-weight:400;display:inline}
#url_form_body input{position:relative;font-weight:700;padding-left:4.3rem}
#url_form_body #url_overlay{font-weight:700;-webkit-transition:width 2s;-moz-transition:width 2s;transition:width 2s;max-width:95%;overflow:hidden;white-space:pre;color:rgba(0,0,0,0);z-index:5}
#url_form_body #url_overlay::before{color:#9e9ea6;content:"http://"}
#url_form_body #url_overlay::after{color:#9e9ea6;content:".slack.com"}
#url_form_body #url_spinner{position:absolute;left:-3rem}
#url_form_body #url_checkmark{text-align:right;z-index:5;right:.5rem}
#url_form_body #url_available,#url_form_body #urls_unavailable{-webkit-transition:opacity .2s ease-out .0000001ms;-moz-transition:opacity .2s ease-out .0000001ms;transition:opacity .2s ease-out .0000001ms}
#create_team_body{min-height:24rem}
#create_team_body .create_team_section{margin-bottom:1rem;border-bottom:2px solid rgba(0,0,0,0)}
#create_team_body .create_team_section.error{margin-bottom:0}
#create_team_body .create_team_section .ct_input_wrapper{position:relative;margin-left:-.5rem}
#create_team_body .create_team_section input{margin:0}
#create_team_body .create_team_section.disabled{border-color:#babbbf}
#create_team_body .create_team_section.disabled .ct_input_wrapper{margin-left:0}
#create_team_body .create_team_section.disabled input{background:0 0;border:none;width:90%;font-size:1.2rem;padding:0;margin-left:0}
#create_team_body .create_team_section.disabled .edit_btn{display:inline-block}
#create_team_body .create_team_section.disabled .url_create #url_checkmark{width:100%;display:none}
#create_team_body .create_team_section.disabled .url_create #url_overlay{margin-left:0}
#create_team_body label{font-weight:800;margin:0!important}
#create_team_body .error_message{font-size:.9rem;margin:0}
#create_team_body input{color:#434245;height:2.5rem;font-size:1.2rem;padding:.5rem;transition:none}
#create_team_body input#signup_url{font-weight:400}
#create_team_body .input_wrapper{height:2.5rem}
#create_team_body .input_wrapper p{position:absolute;margin:.5rem;font-size:1.2rem;height:1.5rem;pointer-events:none;border:1px solid;border-color:rgba(0,0,0,0)}
#create_team_body .input_wrapper #url_overlay{font-weight:400;color:rgba(0,0,0,0);max-width:95%;overflow:hidden;white-space:pre}
#create_team_body .input_wrapper #url_overlay::before{content:none}
#create_team_body .input_wrapper #url_overlay::after{color:#9e9ea6;content:".slack.com"}
#create_team_body .edit_btn{display:none;padding-top:.5rem;color:#babbbf;font-weight:700;font-size:.8rem;position:absolute;right:0}
@media only screen and (max-width:922px){#find_team span{display:block}
}
@media only screen and (max-width:767px){#url_form_body #url_spinner{left:initial!important;right:2rem}
    #email_checkbox{margin:1rem}
}


.wizard .wizard_step {
    display: none;
}

.wizard .wizard_step.active {
    display: inherit;
}
