@font-face{font-family:'Emoji Passthrough';src:url(/2297/fonts/emoji-passthrough.woff) format('woff');font-weight:400;unicode-range:U+1F300-1F5FF,U+1F600-1F64F,U+1F680-1F6FF,U+2600-26FF}
@font-face{font-family:appleLogo;src:local("Lucida Grande");unicode-range:U+F8FF}
.helvetica{font-family:'Emoji Passthrough',"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif}
.lato_black{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:900}
.lato_bold{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:700}
.lato_regular{font-family:'Emoji Passthrough',Lato,appleLogo,sans-serif;font-weight:500}
.monospace{font-family:'Emoji Passthrough',Monaco,Menlo,Consolas,"Courier New",monospace!important}
@-webkit-keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
@-moz-keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
@keyframes progress_bar{from{background-position:0 0}
    to{background-position:-56px 0}
}
.transparent{color:transparent!important}
.neutral_white{color:#fff!important}
.neutral_white_bg{background-color:#fff!important}
.neutral_grey{color:#fbfbfa!important}
.indifferent_grey{color:#555459!important}
.indifferent_grey_bg{background-color:#555459!important}
.charcoal_grey{color:#434245!important}
.subtle_silver{color:#9e9ea6!important}
.subtle_silver_bg{background-color:#9e9ea6!important}
.soft_grey{color:#e8e8e8!important}
.soft_grey_bg{background-color:#e8e8e8!important}
.severe_grey{color:#3d3c40!important}
.severe_grey_bg{background-color:#3d3c40!important}
.dull_grey{color:#8b898f!important}
.dull_grey_bg{background-color:#8b898f!important}
.cloud_silver{color:#babbbf!important}
.cloud_silver_bg{background-color:#babbbf!important}
.warm_white{color:#fbfaf8!important}
.warm_white_bg{background-color:#fbfaf8!important}
.cloud_white{color:#f2f2f5!important}
.cloud_white_bg{background-color:#f2f2f5!important}
.seafoam_green{color:#2ab27b!important}
.seafoam_green_bg{background-color:#2ab27b!important}
.clear_blue{color:#439fe0!important}
.clear_blue_bg{background-color:#439fe0!important}
.solid_blue{color:#2780f8!important}
.solid_blue_bg{background-color:#2780f8!important}
.candy_red{color:#eb4d5c!important}
.candy_red_bg{background-color:#eb4d5c!important}
.highlight_yellow_bg{background-color:#fffce0!important}
.mention_yellow_bg{background-color:#fff3b8!important}
.star_yellow{color:#fc0!important}
.star_yellow_bg{background-color:#fc0!important}
.yolk_orange{color:#edb431!important}
.yolk_orange_bg{background-color:#edb431!important}
.thrills_purple{color:#7d60c5!important}
.burnt_violet{color:#4d394b!important}
.burnt_violet_bg{background-color:#4d394b!important}
.ocean_teal{color:#4c9689!important}
.ocean_teal_bg{background-color:#4c9689!important}
.havana_blue{color:#2a80b9!important}
.havana_blue_bg{background-color:#2a80b9!important}
.pale_blue{color:#f0f7fb!important}
.pale_blue_bg{background-color:#f0f7fb!important}
.sky_blue{color:#439fe0!important}
.sky_blue_bg{background-color:#439fe0!important}
.slate_blue{color:#3c4b5b!important}
.slate_blue_bg{background-color:#3c4b5b!important}
.muddy_lilac{color:#937e91!important}
.muddy_lilac_bg{background-color:#937e91!important}
.moscow_red,.moscow_red_on_hover:hover{color:#cb5234!important}
.moscow_red_bg{background-color:#cb5234!important}
.moscow_red_dark{color:#870000!important}
.moscow_red_dark_bg{background-color:#870000!important}
.mustard_yellow{color:#dfa941!important}
.mustard_yellow_bg{background-color:#dfa941!important}
.kelly_green{color:#36a64f!important}
.kelly_green_dark{color:#257337!important}
.kelly_green_bg{background-color:#36a64f!important}
.channel_page_blue{color:#2d9cf5!important}
.pin_orange{color:#ff876d!important}
.dropbox_blue{color:#007ee5!important}
.dropbox_blue_bg{background-color:#007ee5!important}
.twitter_blue{color:#55acee!important}
.twitter_blue_bg{background-color:#55acee!important}
.gdrive_blue_bg{background-color:#4285f4!important}
.screenhero_blue{color:#1a9cdb!important}
.screenhero_blue_bg{background-color:#1a9cdb!important}
.fs_split{position:absolute;min-height:42rem;overflow:hidden;top:0;bottom:0;left:0;right:0}
.fs_split h1{font-size:48px;line-height:48px;font-weight:300;margin-bottom:2rem}
.fs_split label{margin-bottom:.5rem}
.fs_split .desc{font-size:1.25rem;color:#9e9ea6;margin-bottom:2rem}
.fs_split #slack_logo{margin:1rem;width:120px;height:37px;background:url(/a57b9/img/email/slack_logo.png) no-repeat;background-size:contain}
.fs_split .header_error_message{margin:0 12%;padding:1rem 2rem;background:#fff1e1;border:none;border-left:.5rem solid #ffa940;border-radius:.25rem}
.fs_split .header_error_message h3{margin:0}
.fs_split .error_message{display:none;font-weight:700;color:#ffa940}
.fs_split .error input,.fs_split .error textarea{border:1px solid #ffa940;background:#fff1e1}
.fs_split .error input:focus,.fs_split .error textarea:focus{border-color:#fff1e1;box-shadow:0 0 7px rgba(255,185,100,.15)}
.fs_split .error .error_message{display:block}
.fs_split .fs_split_pane{height:100%;-webkit-transition:background-color .2s ease-out .0000001ms;-moz-transition:background-color .2s ease-out .0000001ms;transition:background-color .2s ease-out .0000001ms}
.fs_split .fs_split_pane .fs_split_flex_wrapper{position:relative;height:100%;min-height:100%;font-size:1rem;display:-webkit-flex;display:-ms-flexbox;display:flex;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_mini_header{-ms-flex-item-align:start;-webkit-align-self:flex-start;align-self:flex-start;display:none}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_header{-ms-flex-item-align:start;-webkit-align-self:flex-start;align-self:flex-start;width:100%;padding:1rem}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_body{padding:0 12%;position:relative;-ms-flex-item-align:center;-webkit-align-self:center;align-self:center;min-height:20rem;max-width:100%}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_body .fs_split_graphics{position:absolute;height:100%;width:76%;background-position:50%;background-repeat:no-repeat;background-size:contain;-webkit-transition:height .5s ease-out .0000001ms;-moz-transition:height .5s ease-out .0000001ms;transition:height .5s ease-out .0000001ms}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_footer{padding:.5rem;margin:0 auto;text-align:center;-webkit-align-self:flex-end;align-self:flex-end;max-width:100%}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_well{display:none;margin:1rem;max-width:initial;font-size:smaller;color:#434245;background-color:#e8e8e8;border-radius:.25rem;order:1}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_well a{color:#434245;font-weight:400}
.fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_footer:last-of-type{padding-bottom:2rem}
.fs_split_pane_left{background-color:#fff;color:#434245;width:50%;min-width:486px;max-width:624px;float:left;z-index:1}
.fs_split_pane_left .fs_split_header{text-align:left}
.fs_split_pane_right{background-color:#e8e8e8;width:auto;overflow:hidden}
.fs_split_pane_right .fs_split_header{text-align:right}
.fs_split_pane_right .fs_split_body{width:100%;-ms-flex:1;-webkit-flex:1;flex:1}
.modal-backdrop{background:#000}
#generic_dialog{max-width:500px;top:20%}
#generic_dialog .modal-body{padding:2rem 2rem 0rem}
#generic_dialog .modal-body h1{font-size:36px;line-height:39px;font-weight:300;margin-bottom:1rem}
#generic_dialog .modal-body p{color:#9e9ea6}
#generic_dialog .modal-footer a{height:52px;padding:1rem;font-size:1rem}
#generic_dialog .modal-footer .dialog_go{line-height:1rem}
#generic_dialog .modal-footer .dialog_go .ts_icon_arrow_right{opacity:.7;font-size:1.5rem;vertical-align:middle;margin:0}
@media only screen and (max-width:767px){.fs_split .fs_split_pane h1{font-size:36px}
    .fs_split .fs_split_pane .fs_split_flex_wrapper{display:block;max-height:initial;max-width:420px;margin:auto}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_body{padding:0 1rem 3rem}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_mini_header{display:block}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_footer{padding-bottom:.5rem!important}
    .fs_split .fs_split_pane .fs_split_flex_wrapper .fs_split_well{display:block;padding:.5rem;text-align:center}
    .fs_split .fs_split_pane_left{width:100%;min-width:initial;max-width:initial;overflow:scroll}
    .fs_split .fs_split_pane_right{display:none}
    #generic_dialog{margin:0!important;width:75%;left:12.5%;right:12.5%;bottom:initial}
    #generic_dialog .modal-footer a{width:100%;margin:.5rem 0!important}
}